
NfiRel/tmp.txt
Nfi/obj/Debug/net8.0/Nfi.pdb
Nfi/obj/Debug/net8.0/Nfi.dll
Nfi/obj/Debug/net8.0/Nfi.csproj.FileListAbsolute.txt
Nfi/obj/Debug/net8.0/Nfi.AssemblyInfoInputs.cache
Nfi/obj/Debug/net8.0/Nfi.AssemblyInfo.cs
Nfi/obj/Debug/net8.0/apphost.exe
Nfi/bin/Debug/net8.0/Nfi.pdb
Nfi/bin/Debug/net8.0/Nfi.exe
Nfi/bin/Debug/net8.0/Nfi.dll
Nfi/obj/Debug/net8.0/Nfi.AssemblyInfoInputs.cache
Nfi/obj/Debug/net8.0/Nfi.csproj.FileListAbsolute.txt
Nfi/obj/Debug/net8.0/Nfi.dll
Nfi/obj/Debug/net8.0/Nfi.pdb
Nfi/obj/Debug/net8.0/Nfi.sourcelink.json
Nfi/obj/Debug/net8.0/ref/Nfi.dll
Nfi/obj/Debug/net8.0/refint/Nfi.dll
